// File: 18f47j53_g.lkr
// Generic linker script for the PIC18F47J53 processor

LIBPATH .

FILES c018i.o
FILES clib.lib
FILES p18f47j53.lib

CODEPAGE   NAME=page       START=0x0                END=0x1FFF7
CODEPAGE   NAME=config     START=0x1FFF8            END=0x1FFFF        PROTECTED
CODEPAGE   NAME=devid      START=0x3FFFFE           END=0x3FFFFF       PROTECTED

ACCESSBANK NAME=accessram  START=0x0                END=0x5F
DATABANK   NAME=BIG_BLOCK  START=0x60               END=0xEAF
DATABANK   NAME=sfr14      START=0xEB0             END=0xEFF          PROTECTED
DATABANK   NAME=sfr15      START=0xF00             END=0xF5F          PROTECTED
ACCESSBANK NAME=accesssfr  START=0xF60             END=0xFFF          PROTECTED

SECTION    NAME=CONFIG     ROM=config

STACK SIZE=0x100 RAM=BIG_BLOCK